<!-- Page Heading -->
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">All channels
      <small>Alle Kanäle</small>
    </h1>
    <h2 ng-bind='message' />
  </div>
</div>
<!-- /.row -->

<input placeholder="search.." type="text" ng-model='searchText' value="test"></input>
<h3 ng-bind='searchText'></h3>

<!-- Channels Row -->
<center>
  <div class="row">
    <div style="background-color:{{getColorFromName(channel.val)}}; margin-right: 5px;" ng-repeat="channel in channels | filter:doSearch" class="col-xs-12 col-sm-5 col-md-2 portfolio-item">
      <a href="#/watch/{{channel.key}}/{{channel.val}}">
        <img fallback-src="/images/logos/noimage.png" class="img-responsive channel-logo" ng-src="/images/logos/{{channel.val | lowercase}}.png" alt="{{channel.val}}" />
        <h5>{{channel.val}}</h5>
      </a>
    </div>
  </div>
</center>
<!-- /.row -->
