<h3>{{channelName}}</h3>

<videogular vg-theme="videoConfig.theme">
  <vg-media vg-src="videoConfig.sources"
            vg-preload="videoConfig.preload">
  </vg-media>

  <vg-controls vg-autohide="videoConfig.plugins.controls.autoHide" vg-autohide-time="videoConfig.plugins.controls.autoHideTime">
    <vg-play-pause-button></vg-play-pause-button>
    <vg-scrub-bar>

    </vg-scrub-bar>
    <vg-volume>
      <vg-mute-button></vg-mute-button>
      <vg-volume-bar></vg-volume-bar>
    </vg-volume>
    <vg-fullscreen-button></vg-fullscreen-button>

  </vg-controls>

  <vg-overlay-play></vg-overlay-play>
  <vg-poster vg-url='videoConfig.plugins.poster'></vg-poster>



</videogular>
